language: python
python:
- '3.6'
install: pip install -r requirements.txt -t .
script:
- true
after_success:
- mkdir dist
- find ./ -name '*.pyc' -delete
- zip -r dist/threatstack-to-s3.zip . -x '.git/*' -x 'dist/*'
- cp deploy/cloudformation.json dist/threatstack-to-s3.json
- sed -i.bak "s,%%SHA256%%,$(openssl dgst -binary -sha256 dist/threatstack-to-s3.zip | openssl base64)," dist/threatstack-to-s3.json
- sed -i.bak "s,[[:space:]]\"LambdaVersion\":,\"LambdaVersion${TRAVIS_BUILD_NUMBER}\":," dist/threatstack-to-s3.json
- sed -i.bak "s,%%TRAVIS_BUILD_NUMBER%%,$TRAVIS_BUILD_NUMBER," dist/threatstack-to-s3.json
- rm dist/*.bak
- ls -al dist
- cat dist/threatstack-to-s3.json
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id:
    secure: "Aq1v1I3IGNxmzRy/QTjx2rbBuGhDjF5zJlNJ8qlKPyCAPLvIz28kjIUbJU1qSLDvkGjdV/goReiCQmBDd3qbet+gXmVUnzVhOSR38TFkdY/cM1sdFGwgVbBxFa8RIfBFbM47WTcBuCa0g/PmnjVN5pklgaMjwgpp5u6VoYFFYmbEwSSiHbEM12dASh6jRc+yR3/h4lRhoM6URh/plWbDri3CvrkHo09DnaqHddfIUDryZKpPWNk9kyYvpsjXcriSgFFE37HPGVk7B8mDJLz9gRyv00r9ScGa8jtbTt0ucY+tR0YU+Iol39mjnH4bwOdgCc0lgT6tojQx3sWmYpnytZiRsYtLgg35EFIMiYwZKvjl6tO5E6l1mSZC6IR4rN8V/YGCj/75XHdwxv5iEiiA2Au0s9UC7KUfSTbS4lNgUkey/KcFzTxHKL0nFFlb8UKACV5io2em9fve310Gls1/7P2GawJSlQ5Yty3xgixQy+5ubUV0v/pvL8EWOlR290dHF9RDOoHqzf7v/Df6umoXISjyVfTvNKnP+zEi4fv2l6RSB2t8L7uxjSWJlHLdQdXoWZxfaeMM8AVDYejuhC7PDHr3eXjrZiU/tcRqyGEi3oBYMUvXXudxrHe3aJ1IHHBLpfGe5R5v1XFrrg/wna8c92NNMxcb+PBJXqFGJ4MMpd4="
  secret_access_key:
    secure: "jE9uFqthQV/OU6S7YH5hp/YvI2M0YRBOMhHnGz9FBm4h7yhznl1fW4hR/Df8mb1vE4KVnjoTLXDV7riju7n3RCtfJmwcdRIiCNnkAbi5lSbKLXakxY4RTqjZVvz8rR2lt9sb5o+RMPP8pk8HSdyzKQZWkH/my+z2RAqfFSFmbT0FXHYeMnXcBSlRlPTF7ifYC59Q8y2nsqQy1+kMyK7HkWd96fesfMcAratMIXqJi319vgFiXWz2VWpe2AMN++eBgBs7YFqNsfmS4JoVoL918IKJxpTPfuXp8x9hc3sPOhB3CbiY22N+GUHX8l+dHMteMgXCO7q7b57O9RxtFgz807ejVT3MbFSQyn/Zm5yxFB3pvm8je9N5l+pt7IskapJiqubc3aKun4AcIhuqeAReafSE/9RgFNES36WX7bM0cTpoTN++0EHPjyl+bBzqhQcLogw8y0zG0/WkvcsRWCxBS7xcV9yoP8LxzkcrzcjL98wYvjcV9VBsmG+w1jb3ni40OQMHucWNJJ1mSmRq2GTdkr2AjG96PUJIt1pAiyt5904tOOR6BduC5ru72ijTGSDcM5WeJpkkSFoWFI7pe1kJefS/4c+ZERsJ3Xi44xIV7uaNY3FmNXDCKCPEr7Ed1L2GkDh0rX2+bAM5n863jqNOlAfxvbE1cu5/QLKMyo/SfM4="
  bucket: straycat-dhs-org-straycat-lambda-deploys
  local-dir: dist
  acl: public_read
  on:
    repo: tmclaugh/threatstack-to-s3
