language: python
python:
- '3.6'
install: pip install -r requirements.txt -t .
script:
- true
after_success:
- mkdir dist
- find ./ -name '*.pyc' -delete
- zip -r dist/threatstack-to-s3.zip . -x '.git/*' -x 'dist/*'
- cp deploy/cloudformation.json dist/threatstack-to-s3.json
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id:
    secure: M0nc9Fnbp9tS0oljwMe/Y+gqC2Tv7+iMfYehL+A0jX/L9Sye1ztHTdtxXb9vnZD8K+hWON7r0unYcIv7NMrTw/0XdWlMfAEmQq++MvLBXPdBS24bI4u9engU58HRXNGOe6IeBiThK4AAldhKKZRwjwCLKuJfIVOx1Y27tq4V4gZbnMidUpKWcivl/jQsvZejFyg/szMae4aj9iEKIVLVeGbAoYWpCQSYHY3jIDLUuTRu+4hQ1AyE3wjMQEBRE4nqBEaSj2ZnIqCfTqRLn1GKOT+WkiaHWiNmRI9iupMjb35UVaGTOBWpoqecfa0FqJpbLWA/kG0h39fuK+q0i8odTCdXtyfx8QpSTvYtEJ+SJuXISO1+yxNzg1jQ+YuuWRszmD2F86ptEI/qVKiD1kyE2L72wYbPM5AJt/r4vExUtukxw911N5sSy9zO/TahE/lSqchM9lPav+UWggneh1Eyzstzlyo/CkHYHurudldpFHpZ96JPXsVgszqwP7LEOhmB5bkJL/mO1vjjb8N+I8yDoIdXxb8fYFSgoKd8MfTCpw+TJIs2xZ5hiUZYnrqNFerkt0nV+xqTC7XYIMcXl6eb2BPuXwIw4sGyCZvw7P0eOaVZWHt9YR5FT8xuI9w98W/rZBA7RluPB1rKYIkrCFf47+/0OzpkrKh7Pa87SJ4DmqM=
  secret_access_key:
    secure: YkfXt9mle/QoIRLBbdhuRB2XS9KS9uCsSI/1g+w7Yedv69exLVj14WgPrUb8WaE/TvSFeysBKmolbe3DgpfE9EFkLBv6+/c68g1c9QgvCTMsrysp06l1X/Ol3iXyHLbiqyrwgmhcoHHewFG0wql+30sm0JVmDpDqVEnaPj94a9vvG9zIXXwiEGJXN2gYvN+mHT18bZfcUloFcArELrE8thqhQGfW4NUyP4DPLgI+R9ewWMeHkEYJEpjxRNSiM2BBHtezoQpiH+WG7qTsDPgGUVgAENf9hF/oMXgRdKK2+SpRgfn+VtUMHn3BvicTA01p++wWIacLFvxiqMPgmDKdOKbTo9cm9Qemy8KvArIZyveK3+ZQD5Cnyifa7wsi3aXsm/0ILscVxVH64eSL1BUBoPpuKu3kCZoYzgvhsRRtyBiUabOYQaYOSw41IwNTLHUApLovjqjQ+Nu9U7+put6/XfE/lODfDtJUbIb/eF6wZIz5qnr2JYZRWFj8BwHr3Q03aI4jziR/FMul0Aa6A902lxIUObuUwgADpHGMkK1D1C9TuOMdqZDJpdwgRFtga3SOSdnhYlT7wcsdiFzOq4atr6sBQZYDbuW5FzrZ6OkOZa2tpcH+KiythA7dLu0Qf3ojNehRZqt1e8WJp3LxvmQq/OepObCt/X09+Uepc8Vz2Q4=
  bucket: ts-demo-lamba-deploys
  local-dir: dist
  acl: public_read
  on:
    repo: threatstack/threatstack-to-s3
